body { margin:0; font-family:Segoe UI; }

.welcome-bg {
    height:100vh;
    background: linear-gradient(135deg,#0a0033,#1a0055);
    display:flex;
    justify-content:center;
    align-items:center;
}

.welcome-box {
    background:#000000cc;
    padding:50px;
    border-radius:20px;
    box-shadow:0 0 25px #00ffcc;
    text-align:center;
    color:white;
}

button {
    padding:12px 30px;
    margin:10px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.dark-bg {
    background:#0b0b0b;
    color:white;
}

header {
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-bottom:1px solid #333;
}

nav a {
    margin:5px;
    padding:8px 15px;
    border:2px solid gold;
    color:white;
    border-radius:8px;
    text-decoration:none;
}

.hero {
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px;
}

.profile {
    width:220px;
    border-radius:50%;
    box-shadow:0 0 25px gold;
}

.highlight {
    background:gold;
    color:black;
    padding:5px 10px;
    border-radius:8px;
}

.box-row span {
    border:1px solid gold;
    padding:10px 20px;
    margin:5px;
    display:inline-block;
}

.card {
    background:#1a1a1a;
    padding:20px;
    margin:15px;
    border-left:6px solid gold;
    box-shadow:0 0 15px #ffd700aa;
}
.recruiter-bg {
    height:100vh;
    background:url('https://images.unsplash.com/photo-1534447677768-be436bb09401') center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.recruiter-box {
    background:rgba(0,0,0,0.65);
    padding:40px;
    border-radius:20px;
    width:450px;
    box-shadow:0 0 25px #00ccff;
    color:white;
}

.recruiter-box h1 {
    text-align:center;
    margin-bottom:25px;
}

.recruiter-box input {
    width:100%;
    padding:12px;
    margin:10px 0 20px;
    border:none;
    border-radius:8px;
    background:#1e1e1e;
    color:white;
}

.recruiter-box button {
    width:100%;
    padding:12px;
    background:#2196f3;
    border:none;
    color:white;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
